/* font-family: 'Genos', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */
/* who uses 3 fonts get your life together */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

html.touch *:hover {
  all: unset !important;
}

input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
opacity: 1;
}

input:focus { font-size: 16px!important}

:root {
  /* --superColor: #810853; */
  --superColor: #09537e;
  --successColor: rgb(31, 102, 31);
  --errorColor: rgb(204, 42, 42);
  --whiteTextColor: rgb(233, 233, 233);
  --blackColor: black;
}

h1 {
  font-weight: 700;
  font-size: clamp(2.625rem, 0.5625rem + 4.5833vw, 4rem);
}

h2 {
  font-weight: 600;
  font-size: clamp(1.125rem, 0.75rem + 0.8333vw, 1.375rem);
}

/* section headings */
h3 {
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 3rem;
}

h5 {
  font-weight: 600;
  font-size: max(16px, 1.2rem);
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  /* from 720vw to 1200vw */
  /* font-size: clamp(1rem, 0.8125rem + 0.4167vw, 1.125rem); */
}

a {
  text-decoration: none;
}

/* bookmark up */
.up-arrow a {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  font-size: 2rem;
  color: var(--superColor);
  z-index: 1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

/* Centering stuff */
.intro-content .button,
.up-arrow a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* INTRO SECTION */
.intro-section {
  /* linear-gradient darkens the picture a bit */
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      to(rgba(0, 0, 0, 0.9))
    ),
    url(./tattoo-pics/bg-pic/tattoo-bg1.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url(./tattoo-pics/bg-pic/tattoo-bg1.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  color: var(--whiteTextColor);
}

.intro-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 9rem;
}

.intro-section h1 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.intro-section h2 {
  margin: 2rem 0;
}

.intro-section .button {
  text-transform: uppercase;
  font-weight: 600;
  font-size: max(14px, 1.1rem);
  cursor: pointer;
  background-color: var(--superColor);
  width: 8rem;
  height: 3.3rem;
  border-radius: 50px;
  -webkit-transition: 0.05s ease-in;
  transition: 0.05s ease-in;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.intro-content .button:before {
  position: absolute;
  top: 110%;
  content: "";
  width: 80px;
  height: 20px;
  background-color: var(--superColor);
  display: inline;
  -webkit-transform: perspective(1.1em) rotateX(35deg) scale(1.6, 0.6);
  transform: perspective(1.1em) rotateX(35deg) scale(1.6, 0.6);
  -webkit-filter: blur(0.8em);
  filter: blur(0.8em);
}

.intro-section .button:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

/* NAVIGATION */
nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.856);
  height: 60px;
  padding: 0 1.5rem;
  position: fixed;
  top: 0;
  z-index: 100;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  -webkit-box-shadow: 0 -3px 15px #b9b9b9;
  box-shadow: 0 -3px 15px #b9b9b9;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  height: 100%;
}

nav ul li a {
  color: var(--blackColor);
  display: block;
  padding: 1.05rem;
}

li:after {
  content: "";
  display: block;
  height: 2px;
  width: 80%;
  background-color: var(--superColor);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) scaleX(0);
  transform: translateX(-50%) scaleX(0);
  bottom: 15%;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

nav > ul li:hover:after {
  -webkit-transform: translateX(-50%) scaleX(1);
  transform: translateX(-50%) scaleX(1);
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.menu-nav ul li:hover {
  background-color: rgba(31, 43, 114, 0.13);
}

nav .logo h4 {
  font-family: "Genos", sans-serif;
  font-size: 2rem;
  color: var(--blackColor);
}

nav .logo h4:after {
  content: "";
  width: clamp(2.34375rem, 2.0597rem + 1.4205vw, 3.125rem);
  height: clamp(1.875rem, 1.6477rem + 1.1364vw, 2.5rem);
  display: inline-block;
  background: url(./tattoo-pics/logo/tattoo-logo2.png) no-repeat center center;
  background-size: cover;
  -webkit-transform: translate(-7%, 0);
  transform: translate(-7%, 0);
  z-index: 105;
}

/* mobile menu */
nav .menu i {
  font-size: 32px;
  color: var(--superColor);
  cursor: pointer;
}

.menu-nav {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.856);
  height: 0;
  overflow: hidden;
}

.menu-nav ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu-nav ul li {
  height: 60px;
}

.menu-nav ul li a {
  width: 100%;
  text-align: center;
  font-size: 22px;
}

.open {
  -webkit-animation: open-menu 0.4s ease forwards;
  animation: open-menu 0.4s ease forwards;
}

.close {
  -webkit-animation: close-menu 0.4s ease forwards;
  animation: close-menu 0.4s ease forwards;
}

@-webkit-keyframes open-menu {
  from {
    height: 0px;
  }
  to {
    height: 180px;
  }
}

@keyframes open-menu {
  from {
    height: 0px;
  }
  to {
    height: 180px;
  }
}

@-webkit-keyframes close-menu {
  from {
    height: 180px;
  }
  to {
    height: 0px;
  }
}

@keyframes close-menu {
  from {
    height: 180px;
  }
  to {
    height: 0px;
  }
}

/* WORKS SECTION */
img {
  width: 100%;
  margin-top: 16px;
  border-radius: 5px;
}

img:hover {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

/* appear on scroll ******************************* */
img {
  opacity: 0%;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.appear {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

/* *********************************************** */
.work-section {
  padding: 2rem 9rem;
}

.image-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 25%;
  padding: 0 8px;
}

/* ABOUT SECTION */
.about-section {
  padding: 2rem 9rem 4rem 9rem;
  /* height: 180vh; */
  position: relative;
  background-color: #ffffff;
}

.about-section,
.work-section {
  background-image: url(./tattoo-pics/bg-pic/repeating-triangles.svg);
  /* background by SVGBackgrounds.com */
  background-attachment: fixed;
}

.about-section h2,
p {
  margin: 1rem 0;
}

.about-section > h5 {
  font-weight: 400;
  margin-top: 7rem;
  margin-bottom: 2rem;
}

/* ARTISTS */
.about-section .artist h5 {
  margin-top: 1rem;
  font-size: 16px;
}

.about-section .artists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-section .artist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about-section .artist:nth-child(2) {
  padding: 0 5rem;
}

.about-section .artist .pic1 {
  background: url(./tattoo-pics/artists/tattoo-artist1.jpg);
}

.about-section .artist .pic2 {
  background: url(./tattoo-pics/artists/tattoo-artist2.jpg);
}

.about-section .artist .pic3 {
  background: url(./tattoo-pics/artists/tattoo-artist3.jpg);
}

.about-section .artist .picture {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 80%;
  aspect-ratio: 1;
  border-radius: 50%;
  z-index: 105;
}

.about-section .artist .pic1 {
  background-position: center center;
}

/* open img */
.window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 110;
}

.image {
  width: 64vh;
  height: 96vh;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 4rem;
}

.cross {
  position: absolute;
  top: 5px;
  right: 15px;
  color: var(--whiteTextColor);
  font-size: 2rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  text-shadow: 0 0 20px #3d3d3d;
}

.cross:hover,
.arrow:hover {
  color: var(--superColor);
}

.arrow {
  height: 5%;
  cursor: pointer;
  width: 5%;
  font-size: 2rem;
  color: var(--whiteTextColor);
  margin-bottom: 1rem;
  text-shadow: 0 0 20px #3d3d3d;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

/* CONTACT SECTION */
.contacts-section {
  padding: 3rem 9rem 6rem 9rem;
  min-height: 60vh;
  /* idk bout this one */
  background-color: whitesmoke;
}

.contacts-section h3 {
  margin-bottom: 5rem;
}

.contacts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* CONTACTS */
.contacts {
  width: 50%;
  margin-top: 1rem;
}

.contacts i {
  font-size: 1.2rem;
  color: var(--blackColor);
}

/* wraps text with indentation */
.contacts p {
  padding-left: 0.7em;
  text-indent: -0.7em;
}

iframe {
  aspect-ratio: 3/2;
  width: 100%;
}

/* FORM STYLING */
form {
  width: 40%;
}

.input-field input,
textarea {
  padding: 0.5rem;
}

textarea {
  resize: none;
  font-family: initial;
  font-size: initial;
}

.input-field label {
  position: relative;
}

.input-field:nth-child(-n + 4) label::after {
  content: "*";
  color: var(--errorColor);
  position: absolute;
  -webkit-transform: translate(5%, -10%);
  transform: translate(5%, -10%);
}

.input-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

/* input icons */
.input-field i {
  visibility: hidden;
  position: absolute;
  right: 0.3rem;
  -webkit-transform: translateY(200%);
  transform: translateY(200%);
}

.input-field.success .fa-check-circle {
  visibility: visible;
  color: var(--successColor);
}

.input-field.error .fa-exclamation-circle {
  visibility: visible;
  color: var(--errorColor);
}

/* input borders */
.input-field input,
.input-field textarea {
  border: 2px solid #c9c0c0;
}

.input-field input:focus,
.input-field textarea:focus {
  border-color: var(--superColor);
  outline: 0;
}

.input-field.error input,
.input-field.error textarea {
  border-color: var(--errorColor);
}

.input-field.success input,
.input-field.success textarea {
  border-color: var(--successColor);
}

.input-field .error-message {
  color: var(--errorColor);
  visibility: hidden;
  font-size: 14px;
}

.input-field.error .error-message {
  visibility: visible;
}

/* submit button */
#submit {
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: var(--superColor);
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--whiteTextColor);
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.05s ease;
  transition: 0.05s ease;
}

#submit:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

/* FOOTER SECTION */
footer {
  background-color: #111111;
  color: var(--whiteTextColor);
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.socials,
.legal-stuff,
.copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.copy {
  font-size: 14px;
  color: #aaaaaa;
}

.socials {
  gap: 1.5rem;
}

.socials i {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.socials i:hover,
.terms:hover,
.privacy:hover {
  color: var(--superColor);
  cursor: pointer;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

/* RESPONSIVE */
@media (max-width: 1200px) {
  .column {
    width: 50%;
  }
}

@media (max-width: 1260px) and (min-width: 720px) {
  .about-section .artist h5 {
    margin-top: 1rem;
  }
  .about-section .artists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .about-section .artist {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    text-align: start;
  }
  .about-section .artist:nth-child(2) {
    padding: 3rem 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .about-section .artist-description {
    padding-left: 1.5rem;
  }
  .about-section .artist:nth-child(2) .artist-description {
    padding-right: 1.5rem;
    padding-left: 0;
  }
  .about-section .artist .picture {
    border-radius: 10px;
    aspect-ratio: 2.5/3;
  }
}

@media (max-width: 970px) {
  .intro-content {
    padding: 0 5rem;
  }
  .work-section,
  .about-section,
  .contacts-section {
    padding: 3rem 5rem 4rem 5rem;
  }
  .contacts {
    width: 40%;
  }
  form {
    width: 45%;
  }
  .window {
    display: none;
  }
  img:hover {
    cursor: default;
  }
}

@media (min-width: 721px) {
  nav .menu {
    display: none;
  }
}

/* tatto artists in row all */
@media (max-width: 720px) {
  .column {
    width: 100%;
  }
  nav > ul {
    display: none;
  }
  .artists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .about-section .artist:nth-child(2) {
    padding: 0;
  }
  .about-section h2,
  p {
    margin: 0.3rem 0 4rem 0;
  }
  .about-section .artist h5 {
    margin-top: 1rem 0 0.5rem 0;
  }
  .about-section .artist .picture {
    width: 50%;
  }
  .about-section {
    padding-bottom: 0;
  }
  iframe {
    display: none;
  }
  .contacts-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .contacts {
    width: 100%;
  }
  form {
    width: 70%;
    margin-bottom: 2rem;
  }
  #submit {
    width: 100%;
    padding: 1rem;
  }
  .contacts p {
    margin: 1rem;
  }
}

@media (max-width: 570px) {
  .intro-content {
    padding: 0 3rem;
  }
  .work-section,
  .about-section,
  .contacts-section {
    padding: 3rem;
  }
  .about-section {
    padding-bottom: 0;
  }
  form {
    width: 100%;
  }
}

@media (max-width: 460px) {
  .intro-content {
    padding: 0 1rem;
  }
  .work-section,
  .about-section,
  .contacts-section {
    padding: 3rem 1rem 4rem 1rem;
  }
  .about-section {
    padding-bottom: 0;
    text-align: center;
  }
  .up-arrow a {
    bottom: 0.5rem;
    right: 0.15rem;
  }
  .intro-content {
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  h1 {
    font-size: 34px;
  }
  .intro-section h2 {
    margin: 1rem 0 3rem 0;
  }
}

@media not all and (min-resolution:.001dpcm) { 
     @supports (-webkit-appearance:none) {
          #submit{
            height: 1.5rem;
            background-color: red;
          }
     }
}
/*# sourceMappingURL=sass.css.map */
